.projects {

    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between,center,row);
    flex-wrap: wrap;
    text-align: center;
    h2{margin: 5rem;}
    padding-bottom: 2rem;
}

.travelly,.elina,.elina{
    flex: 1 1 60rem;
    @include flex(center,center,column);
}

.rtcamp{border-radius: 2rem;width: 50%;}
.flask_url {
    width: 50rem;
    border-radius: 2rem;
}

h5{width: 50%;font-size: 1.5rem;padding-bottom: 2rem;}
