.projects {

    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(center,center,row);
    flex-wrap: wrap;
    h2{margin: 2rem;}
    padding-bottom: 1rem;
}
.travelly{
    margin: 3rem;
   
    border-radius: 2rem;
    transition: transform .2s;
}

.firstdiv{width: 90%;
margin: auto;}

.travelly:hover {
    transform: scale(1.2);
}

.rtcamp{border-radius: 2rem;width: 50%;}
.flask_url {
    width: 45rem;
    height: 23rem;
    border-radius: 1rem;
}

h5{width: 100%;font-size: 1.5rem;padding-bottom: 2rem;}
