$header1: 2rem;
$header2: 3rem;
$header3: 2rem;
$header4: 1.3rem;
$text: 2rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3)  ;
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    
}

@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "about";
@import "footer";


