* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

body {
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding-top: 2rem 0rem;
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin: 5rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text, .intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

svg {
  width: 80%;
  height: 100%;
}

#plant-left {
  -webkit-animation: plants 1.5s ease infinite alternate;
          animation: plants 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plants 2s ease infinite alternate;
          animation: plants 2s ease infinite alternate;
}

#me {
  -webkit-animation: me 2s ease infinite alternate;
          animation: me 2s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 2s infinite linear;
          animation: clock 2s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes plants {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plants {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#Vector_5 {
  fill: lightcoral;
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 50%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 801px) {
  nav .logo {
    margin-left: 2rem;
  }
  html {
    font-size: 43%;
  }
  svg {
    height: 100%;
    width: 100%;
  }
  #Vector_5 {
    fill: skyblue;
  }
  .social-icon {
    width: 5rem;
  }
}

@media screen and (max-width: 703px) {
  svg {
    width: 80%;
    margin-top: rem;
  }
  .intro-images {
    width: 70%;
    margin-left: 7rem;
  }
  html {
    font-size: 41%;
  }
  body {
    overflow: auto;
  }
}

@media screen and (max-width: 419px) {
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html {
    font-size: 38%;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  svg {
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    padding-right: 5rem;
  }
  #Vector_5 {
    fill: lightgreen;
  }
  .social-icon {
    width: 8rem;
  }
  .intro-social {
    margin: 0px auto;
  }
  ul {
    margin-right: 3rem;
  }
  .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h3 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */