* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 55%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5 {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

.my_logo {
  width: 8rem;
  border-radius: 12rem;
  margin-top: 2rem;
}

.shuvra {
  font-family: 'Dancing Script', cursive;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.webdev {
  color: #dd9037;
}

.intro {
  min-height: 81vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

.intro h3 {
  font-size: 5rem;
  padding-top: 3rem 0rem;
}

.intro p {
  font-size: 2rem;
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin: 5rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.intro-text, .intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

svg {
  width: 80%;
  height: 100%;
}

#plant-left {
  -webkit-animation: plants 1.5s ease infinite alternate;
          animation: plants 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plants 2s ease infinite alternate;
          animation: plants 2s ease infinite alternate;
}

#me {
  -webkit-animation: me 2s ease infinite alternate;
          animation: me 2s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 2s infinite linear;
          animation: clock 2s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes plants {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plants {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#Vector_5 {
  fill: lightcoral;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 801px) {
  nav .logo {
    margin-left: 2rem;
  }
  html {
    font-size: 43%;
  }
  svg {
    height: 100%;
    width: 100%;
  }
  #Vector_5 {
    fill: skyblue;
  }
  .social-icon {
    width: 5rem;
  }
  .travelly img,
  .elina img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 703px) {
  svg {
    width: 80%;
    margin-top: rem;
  }
  .intro-images {
    width: 70%;
    margin-left: 7rem;
  }
  html {
    font-size: 41%;
  }
  .travelly img,
  .elina img {
    width: 70%;
    height: 100%;
  }
}

@media screen and (max-width: 517px) {
  nav {
    padding-bottom: 4rem;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 2rem;
  }
  nav .my_logo {
    width: 10rem;
  }
  html {
    font-size: 35%;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  svg {
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    padding-right: 5rem;
  }
  #Vector_5 {
    fill: lightgreen;
  }
  .social-icon {
    width: 8rem;
  }
  .intro-social {
    margin: 0px auto;
  }
  ul {
    margin-right: 3rem;
    padding-top: 2rem;
  }
  .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h3 {
    text-align: center;
    font-size: 4rem;
  }
  p {
    text-align: center;
  }
  .travelly img,
  .elina img {
    width: 70%;
    height: 100%;
  }
  .text-div, h3 {
    font-size: 3rem;
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 1rem;
}

.projects h2 {
  margin: 2rem;
}

.travelly, .elina {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rtcamp {
  border-radius: 2rem;
  width: 50%;
}

.flask_url {
  width: 50rem;
  border-radius: 2rem;
}

h5 {
  width: 50%;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.froms {
  margin-top: 3rem;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
  padding-bottom: 2rem;
}

.froms .text-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  padding: 4rem;
  text-align: center;
}

.froms .from-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.froms form {
  padding: 1.5rem 1.5rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.froms input, .froms textarea {
  margin: 2rem;
}

.froms input:focus, .froms textarea:focus {
  outline: 2px solid gray;
}

.froms textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.froms button {
  width: 70%;
  padding: 1rem;
  background: #154353;
  color: white;
}

.froms button:focus {
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
}

.froms .text-div {
  width: 90%;
  margin: auto;
}

.about {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about #text_h3 {
  color: #13a9d6;
  text-shadow: 1px 1px 1px #043953;
  margin: 2rem;
  font-family: 'Otomanopee One', sans-serif;
}

.about #text_p {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'Otomanopee One', sans-serif;
  color: #0d8383;
}

#my_images {
  width: 15rem;
  border-radius: 1rem;
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
/*# sourceMappingURL=style.css.map */